# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd
*.pyo
*.env
.venv/
venv/
ENV/
env/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
